@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Default setting for the page*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* */
body {
    font-family: 'Press Start 2P', sans-serif;
}

h1, h2, p, #page-number {
    text-align: center;
}

header {
    display: flex-box;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 3rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-left: auto;

}

#game-div {
    background-color: #fff;
    border-style: dashed;
    border-width: 5px;
    display: flex-box;
    flex-wrap: wrap;
    height: 50rem;
    width: 50rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-left: auto;
}


#button-box, #start-button-box {
    display: flex;
    justify-content: center;
    align-content: center;
}
button {
    background-color: #999;
    font-family: 'Press Start 2P', sans-serif;
    border-style: hidden;
    margin: 5rem;
}

#story {
    margin: 3rem;
    height: 50rem;
    width: 50rem;
}

.hidden {
    color: white;
    background-color: white;
}

/*This is called by JS to make buttons visible*/
.visible {
    color: #000;

}